body{
    background-image: url("matrix1.jpg");
    color: aliceblue;
    font-style:inherit;
    text-align: center;
}
.image{
    max-height: 150px;
    max-width: 150px;
    border-radius: 45%;
    float: left;
.link{
    color: whitesmoke;
}
}
.details{
    text-align: left;
    margin-left: 10px;
    border-radius: 5%;
    height: 250px;
    background-color: transparent;
    color: whitesmoke;
    display: flex;
    justify-content: left;
    margin: auto;
    width: 500px;
    place-content: center;
    font-size: larger;
    font-style:initial;
    font-weight: bold;
}