body{
    background-image: url("matrix1.jpg");
    color: aliceblue;
    font-style:inherit;
    text-align: center;
    margin: auto;
}
.image{
    height: 150px;
    width: 150px;
    border-radius: 5%;
    float: right;
    margin-right: 50px;
.link{
    color: whitesmoke;
}
}
.details{
    border-radius: 5%;
    height: 250px;
    background-color: transparent;
    justify-content: left;
    margin: auto;
    width: 800px;
}
.labels{
    margin-left: 230px;
    float: left;
    font-size: larger;
    font-style:initial;
    font-weight: bold;
    color: whitesmoke;
    text-align: left;
}
.content{
    margin-left: 330px;
    font-size: larger;
    font-style:initial;
    font-weight: bold;
    color: whitesmoke;
    text-align: left;
}